body{
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    font-family: arial;
    height: 100%;
    max-width: 100%;
    /* background-color: #F25F5C; */
    z-index: -1;
    overflow-x: hidden;
   
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

header{
    background-color: #F25F5C;
    top: -10px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
    margin: 0;
    max-width: 100%;
}

header p{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

nav{
    position: relative;
    margin-top: 0px;
    display: flex;
    background: #50514F;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 1;
    height: 15%;
    max-width: 100%;
}

a{
    text-decoration: none;
}
nav a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: space-around;
    padding: 5px;
    color: white;
    z-index:1;
    font-weight: bolder;
    font-size: 1em;
}

nav a:hover{
    background-color: #F25F5C;
    color: black;
}

h1{
    font-size: 5em;
   font-family: 'Helvetica Neue', sans-serif;
   font-weight: bold;
   letter-spacing: -1px; 
   line-height: 1;
}
.padmasana{
    display: flex;
    flex-direction: column;
    background-image: url(../images/padmasana.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
}

.parallax1{
    display: flex;
    height: 85vh;
    width: 100%;
    position: relative;
    background-image: url(../images/succulents.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax2{
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url(../images/succulents.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax1 > img,
.parallax2 > img{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.about-container{
display: block;
position: relative;
height: 80%;
width: 100vw;
background-color: #50514F;
z-index:2;
padding: 10px;
/* bottom: 100px; */
}

.text-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    color: white;
    padding: 2px;
    position: absolute;
    height: 100%;
}

.text-container-1 > img{
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.text-container-1 #staff1{
    padding: 10px;
    height: 100%;
    width: 50%;
}

.text-container-1 #staff2{
    padding: 10px;
    height: 100%;
    width: 50%;
}

.text-container-2{
    background-color: grey;
    opacity: .9;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: .9;
    padding: 10px;
    height: 70%;
    width: 100vw;
    overflow: hidden;
}

/* .text-container-2 p{
    height: 100%;
} */

.menuBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: #247BA0;
    padding-top: 20px;
    z-index: 1;
    /* opacity: .75; */
}

.benefits,
.about,
.calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}


/* .calendar span{
padding-left: 35px;
} */

h3.menuText{
    display: block;
    font-size: 3em;
    color: #fff;
    width: 100%;
}

span{
    width: 100%;
    height: 100%;
}

/* Footer */
 .container{
    display: flex;
    justify-content: center;
    background-color: #FFE066;
    height: 50px;
    z-index: 2;
    color: white;
}

@media (min-width: 375px){
    .text-container-2{
        height: 60%
    }
    .about-container{
        height: 70%;
    }
}

@media (min-width: 425px){
    .text-container-2{
        height: 30%;
    }
    .about-container{
        height: 40%;
    }
    h2{
        margin-bottom: 0;
    }
    /* p{
        font-size: .8em;
    } */
}

@media (min-width: 768px){
    .menuBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        height: 400px;
    }
     h3.menuText{
        font-size: 2em;
    }
    .text-container-2{
        height: 35%;
        font-size: 1.1em;
    }
    .about-container{
        height: 45%;
        padding-left: 40px;
        padding-right: 10px;
    }
    p{
        font-size: .8em;
    }
}


@media (min-width: 1024px){

    .menuBox{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        height: 400px;
    }
    .text-container-2{
        height: 50%;
        padding-right: 20px;
    }
    .about-container{
        height: 55%;
        padding-left: 20px;
        padding-right: 20px;
    } 
    p{
        font-size: 1.3em !important;
    }

    nav a{
        font-size: 1.5em;
    }
}
@media (min-width: 1440px){
    .text-container-2{
        height: 30%
    }

    nav a{
        font-size: 1.75em;
    }
}
